<template>
  <v-container>
    <ProductCard />
  </v-container>
</template>

<script>
import { Component, Vue } from "vue-property-decorator";
import ProductCard from "@/components/ProductCard.vue";

@Component({
  components: {
    ProductCard
  }
})
export default class About extends Vue {}
</script>
