<template>
  <v-container>
    <ProductCatalog />
  </v-container>
</template>

<script>
// @ is an alias to /src
import ProductCatalog from "@/components/ProducsCatalog.vue";
import { Component, Vue } from "vue-property-decorator";

@Component({
  components: {
    ProductCatalog
  }
})
export default class Home extends Vue {}
</script>
