<template >
    <v-container text-center>
      <v-row>
        <v-col>
          <h2>Home</h2>
        </v-col>
      </v-row>
      <v-row>
        <v-col>
          <h3>Products</h3>
        </v-col>
      </v-row>
      <v-row>
        <section v-if="loading">
          <h3>Loading..</h3>
        </section>
        <section v-else>
          <v-row>
            <v-col cols-xs="12" cols-sm="3" v-for="product of products" v-bind:key="product.id">
              <v-card :to="{ name: 'about', params: { id: product.id }}">
                <v-img class="product-img" :src="imager(product.images[0].url)"></v-img>
                <v-card-title><div>{{product.title}}</div></v-card-title>
                <v-card-text class="text--primary">
                  <div>Starting from {{product.min_price}} USD</div>
                </v-card-text>
              </v-card>
            </v-col>
          </v-row>
        </section>
      </v-row>
    </v-container>
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";
import catalogService from "../services/catalog.service";
import { imager } from "../services/image.service";
import Product from "../models/product.model";

@Component
export default class ProductCatalog extends Vue {
  products: Product[] = [];
  loading: boolean = true;
  imager = imager;

  mounted() {
    this.fetchData();
  }

  async fetchData() {
    const res = await catalogService.getAllProducts();
    this.products = res.data.data;
    console.log("products", this.products);
    this.loading = false;
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="sass">
.product-img
  width: 422px
  max-height: 422px
  object-fit: contain
</style>
