<template>
  <v-container>
    <section v-if="loading">
      <h3>Loading..</h3>
    </section>
    <section v-else>
      <v-row>
        <v-col cols="12" sm="4">
          <v-row>
            <v-img class="large-image" :src="imager(product.images[0].url)"></v-img>
          </v-row>
          <v-row>
            <v-col v-for="img of smallImages" v-bind:key="img.url">
              <v-img class="small-image" :src="imager(img.url)"></v-img>
            </v-col>
          </v-row>
        </v-col>
        <v-col cols="12" sm="4">
          <h2>{{ product.title}}</h2>
          <h4>{{ product.min_price}} - {{product.max_price}} USD</h4>
          <p>{{ product.description}}</p>
        </v-col>
        <v-col cols="12" sm="4">
          <v-row v-for="attribute of product.attributes" v-bind:key="attribute.id">
            <v-select
              :label="attribute.title"
              :item-value="'id'"
              :item-text="'title'"
              v-model="selectedAttributes[`${attribute.id}`]"
              :items="attribute.labels"
              :class="classForSelectElement"
              outlined
            ></v-select>
          </v-row>
          <v-row>
            <v-col cols="3">
              <v-btn color="light" :disabled="qtyInCart===0" @click="updateQty(-1)">-</v-btn>
            </v-col>
            <v-col cols="3">
              <span>{{qtyInCart}}</span>
            </v-col>
            <v-col cols="3">
              <v-btn color="light" @click="updateQty(1)">+</v-btn>
            </v-col>
            <v-col cols="3">
              <v-btn color="warning" dark @click="addToCart()">Add to cart</v-btn>
            </v-col>
          </v-row>
        </v-col>
      </v-row>
    </section>
    <v-snackbar v-model="snackbar" :bottom="true" :color="status==='error' ? 'red': 'success'">
      {{ snackTextToDisplay }}
      <v-btn dark text @click="snackbar = false">Close</v-btn>
    </v-snackbar>
  </v-container>
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";
import catalogService from "../services/catalog.service";
import cartService from "../services/cart.service";
import { imager } from "../services/image.service";
import Product from "../models/product.model";

@Component
export default class ProductCard extends Vue {
  product: Product = {} as Product;
  loading: boolean = true;
  imager = imager;
  snackbar = false;
  status = "missing";
  errorAttributes: string[] = [];
  selectedAttributes: Map<string, string> = new Map();
  qtyInCart = 0;

  mounted() {
    this.fetchData();
  }

  async fetchData() {
    const res = await catalogService.getProductById(this.$route.params.id);
    this.product = res.data.data;
    this.loading = false;
  }

  updateQty(qtyToAdd: number) {
    this.qtyInCart += qtyToAdd;
  }

  async addToCart() {
    if (this.selectedAttributes.size !== this.product.attributes.length) {
      this.status = "missing";
      this.snackbar = true;
      return;
    }
    const matchingVariant = this.findMatchingVariant();
    if (!matchingVariant) {
      this.status = "error";
      this.snackbar = true;
      return;
    } else {
      await cartService.add(matchingVariant, this.qtyInCart);
      this.status = "success";
      this.snackbar = true;
    }
  }

  findMatchingVariant() {
    const attributesIds = this.product.attributes.map(at => at.id);
    let matchingVariant = null;
    let match = false;
    this.errorAttributes = [];

    for (let variant of this.product.variants) {
      match = false;
      for (let attributeId of attributesIds) {
        let label = variant.labels.find(l => l.attribute_id === attributeId);
        if (!label) {
          match = false;
          this.errorAttributes.push(attributeId);
          break;
        }

        if (label.label_id !== this.selectedAttributes.get(attributeId)) {
          match = false;
          this.errorAttributes.push(attributeId);
        }
      }

      if (match) {
        matchingVariant = variant;
        break;
      }
    }
    return matchingVariant;
  }

  errorInAttribute(attributeId: string) {
    return this.errorAttributes.includes(attributeId);
  }

  get smallImages() {
    if (!this.product.id) return 0;

    // removing the first img because it is large
    const allImages = [...this.product.images];
    allImages.splice(0, 1);
    const smallImages = allImages;
    return smallImages;
  }

  get snackTextToDisplay() {
    let msg = "";

    switch (this.status) {
      case "missing":
        msg = "missing";
        break;

      case "error":
        msg = "error";
        break;

      case "success":
        msg = "success";
        break;
    }
    return msg;
  }

  get classForSelectElement() {
    let classCSS = "";

    switch (this.status) {
      case "missing":
        classCSS = "Please select a value for each attribute";
        break;

      case "error":
        classCSS = "Item not available. Please modify your request";
        break;

      case "success":
        classCSS = "Item successuflly added to your cart";
        break;
    }
    return classCSS;
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="sass">
.large-image
  width: 425px
  height: 425px
  object-fit: contain

.small-image
  width: 127px
  height: 127px
  object-fit: contain

v-select.error
  border:1px solid pink
</style>
